aiodns==3.1.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
APScheduler==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
binance-liquidation-feeder @ git+https://github.com/aoki-h-jp/binance-liquidation-feeder@107d64f47f54386cf8fc1be5b38cd3f77467591c
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
Brotli==1.1.0
Brownie==0.5.1
bs4==0.0.2
cachetools==4.2.2
catalogue==2.0.10
ccxt==4.2.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
coloredlogs==15.0.1
comm==0.2.1
confection==0.1.4
cryptography==41.0.7
cssselect==1.2.0
cymem==2.0.8
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.18.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
exceptiongroup==1.2.0
executing==2.0.1
fake-useragent==1.4.0
fastjsonschema==2.19.1
feedparser==6.0.11
filelock==3.13.1
Flask==3.0.2
Flask-Compress==1.14
fqdn==1.5.1
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2024.2.0
gevent==24.2.1
greenlet==3.0.3
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.3
httpx==0.26.0
huggingface-hub==0.21.3
humanfriendly==10.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
ipykernel==6.29.3
ipytablewidgets==0.3.1
ipython==8.22.1
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.17
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
langcodes==3.3.0
lightning-utilities==0.10.1
lxml==5.1.0
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.10
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.1
notebook_shim==0.2.4
numpy==1.26.4
openai==1.12.0
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.1
parse==1.20.1
parso==0.8.3
peewee==3.17.1
pexpect==4.9.0
platformdirs==4.2.0
plotly==5.19.0
pluggy==1.4.0
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycares==4.4.0
pycoingecko==2.2.0
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pyee==11.1.0
Pygments==2.17.2
pyppeteer==2.0.0
pyquery==2.0.0
pytest==8.0.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-telegram-bot==20.8
pytorch-lightning==2.2.0.post0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-html==0.10.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
safetensors==0.4.2
schedule==1.2.1
scikit-learn==1.4.1.post1
scipy==1.12.0
Send2Trash==1.8.2
seqeval==1.2.2
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
ta==0.11.0
TA-Lib==0.4.28
tenacity==8.2.3
terminado==0.18.0
thinc==8.2.3
threadpoolctl==3.3.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.15.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.1
torchmetrics==1.3.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
traittypes==0.2.1
transformers @ git+https://github.com/huggingface/transformers.git@bcd23a54f12a29eb6c3c6541935d4b12de17a6fc
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
urllib3==1.25.8
vega==4.0.0
vega-datasets==0.9.0
virtualenv==20.25.1
w3lib==2.1.2
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.5.3
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension==4.0.10
xxhash==3.4.1
yahoo-fin==0.8.9.1
yarl==1.9.4
yfinance==0.2.36
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
